@model int

<div class="hadline">
    <h1>The Best Pet Shop In Town</h1>
    <script src="~/scripts/jquery-3.3.1.js"></script>
     <script src="~/scripts/jquery.validate.min-1.17.0.js"></script> 
   <script src="~/scripts/jquery.validate.unobtrusive.min-3.2.10.js"></script> 
<style>

    .hadline{
        font-size: 24px;
        text-align: center;
    }
    
    .sidebar {
        width: 250px; 
        background-color: #333;
        color: #fff;
        padding: 20px;
    }

        .sidebar ul {
            list-style-type: none;
            padding: 0;
        }

        .sidebar li {
            margin-bottom: 10px;
        }

        .sidebar a {
            color: #fff;
            text-decoration: none;
        }

   
    .styled-table {
        width: 100%;
        border-collapse: collapse;
        background-color: #f0f0f0; 
    }

        .styled-table th, .styled-table td {
            padding: 8px 12px;
            text-align: center;
            border-bottom: 1px solid #ddd; 
            border-right: 1px solid #ddd;
        }

        .styled-table th {
            background-color: #333;
            color: #fff;
        }

    .Button {
        width: 150px;
        height: 50px;
        background: #139;
        border: 2px solid black;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1em;
        color: white;
        font-weight: 500;
        margin: 20px auto;
        display: block;
        transition: background-color 0.3s, color 0.3s;
    }

        .Button:hover {
            background: yellow;
            color: #162938;
        }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff; 
        color: #fff; 
        text-decoration: none; 
        border: none; 
        border-radius: 5px; 
    }

   
    .btn-primary {
        background-color: #007bff;
    }

    .float-right {
        float: right;
    }
</style>