html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
h1 {
    text-align: center;
}

.animal-table {
    width: 100%;
    border-collapse: collapse;
}

    .animal-table th, .animal-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .animal-table th {
        background-color: #f2f2f2;
    }

.animal-image {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}
